.clearfix {
    clear: both;
}

.special-heading {
    position: relative;
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 35px;
        left: 0;
        width: 40px;
        border-bottom: 3px solid $dark-color;
    }
}

.separator {
    border: 1px solid darken($light-color, 10%);
}

.fl-left {
    float: left
}
