* {
    box-sizing: border-box;
}

body{
color: $dark-color;
background-color: $light-color;
}

.container {
    width: 1200px;
    margin: auto;
}
.navbar, 
.header,
.services,
.our-team,
.testimonials,
.our-projects,
.footer {
	min-width:1200px;
}

ul {
    list-style: none;
}
h2,
h3,
h4 {
	font-weight: normal;
}