.navbar {
    font-size: 18px;
    height: 0;
    color: $light-color;
    position: relative;
    z-index: 2;
    .brand {
        float: left;
        width: 50%;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 10px;
        span {
            color: $main-color;
        }
    }
    .links {
        float: left;
        width: 50%;
        margin-top: 25px;
        li {
            display: inline-block;
            padding: 10px 0;
            margin: 0 10px;
            text-transform: uppercase;
            border-bottom: 2px solid transparent;
            &.active,
            &:hover {
                color: $main-color;
                border-bottom-color: $main-color;
            }
            &.active a,
            &:hover a{
                color: $main-color;
                border-bottom-color: $main-color;
            }
            a {
                color: $light-color;
                text-decoration: none;
            }
        }
    }
}
